*values-test.yaml

/test

.env
*.pem
*.crt
*.key
*.srl
*.csr
*.pfx
*.cert

notes.md

certs/**
!certs/generate-certs.sh

.DS_Store

credentials
production.json

*.tgz

*keyset.json

charts/hatchet-stack/hatchet-values.yaml
