apiVersion: v2
name: hatchet-stack
description: A Helm chart for deploying Hatchet on Kubernetes together with a PostgreSQL database and RabbitMQ.
type: application
version: 0.6.0
maintainers:
  - name: Hatchet Engineering
    email: alexander@hatchet.run
dependencies:
  - name: "hatchet-api"
    condition: api.enabled
    repository: "file://../hatchet-api"
    version: "^0.6.0"
    alias: api
  - name: "hatchet-api"
    condition: engine.enabled
    repository: "file://../hatchet-api"
    version: "^0.6.0"
    alias: engine
  - name: "hatchet-frontend"
    condition: frontend.enabled
    repository: "file://../hatchet-frontend"
    version: "^0.6.0"
    alias: frontend
  - name: "postgresql"
    condition: postgres.enabled
    repository: "https://charts.bitnami.com/bitnami"
    version: "^14.2.1"
    alias: postgres
  - name: "rabbitmq"
    condition: rabbitmq.enabled
    repository: "https://charts.bitnami.com/bitnami"
    version: "^12.13.1"
    alias: rabbitmq
