{{- if .Values.sharedConfig.enabled }}
apiVersion: v1
kind: Secret
metadata:
  name: hatchet-shared-config
  labels:
{{- include "hatchet.labels" . | nindent 4 }}
{{- if .Values.caddy.annotations }}
  annotations:
{{ toYaml .Values.caddy.annotations | indent 4 }}
{{- end }}
type: Opaque
data:
  SERVER_DEFAULT_ENGINE_VERSION: {{ "V1" | b64enc }}
{{- if .Values.postgres.enabled }}
  DATABASE_URL: "{{ printf "postgres://%s:%s@%s-postgres:%d/%s?sslmode=%s" .Values.postgres.auth.username .Values.postgres.auth.password .Release.Name (.Values.postgres.primary.service.ports.postgresql | int) .Values.postgres.auth.database (ternary "require" "disable" .Values.postgres.tls.enabled) | b64enc }}"
{{- end }}
{{- if .Values.rabbitmq.enabled }}
  SERVER_TASKQUEUE_RABBITMQ_URL: "{{ printf "amqp://%s:%s@%s-rabbitmq:%d/" .Values.rabbitmq.auth.username .Values.rabbitmq.auth.password .Release.Name (.Values.rabbitmq.service.ports.amqp | int) | b64enc }}"
{{- else }}
  SERVER_MSGQUEUE_KIND: "{{ "postgres" | b64enc }}"
{{- end }}
  SERVER_URL: "{{ .Values.sharedConfig.serverUrl | b64enc }}"
  SERVER_AUTH_COOKIE_DOMAIN: "{{ .Values.sharedConfig.serverAuthCookieDomain | b64enc }}"
  SERVER_AUTH_COOKIE_INSECURE: "{{ .Values.sharedConfig.serverAuthCookieInsecure | b64enc }}"
  SERVER_AUTH_SET_EMAIL_VERIFIED: "{{ .Values.sharedConfig.serverAuthSetEmailVerified | b64enc }}"
  SERVER_AUTH_BASIC_AUTH_ENABLED: "{{ .Values.sharedConfig.serverAuthBasicAuthEnabled | b64enc }}"
  SERVER_GRPC_BROADCAST_ADDRESS: "{{ .Values.sharedConfig.grpcBroadcastAddress | b64enc }}"
  ADMIN_EMAIL: "{{ .Values.sharedConfig.defaultAdminEmail | b64enc }}"
  ADMIN_PASSWORD: "{{ .Values.sharedConfig.defaultAdminPassword | b64enc }}"
  SERVER_GRPC_BIND_ADDRESS: "{{ printf "0.0.0.0" | b64enc }}"
  SERVER_GRPC_INSECURE: {{ .Values.sharedConfig.grpcInsecure | b64enc }}
  SERVER_AUTH_COOKIE_SECRETS: "{{ .Values.sharedConfig.serverAuthCookieSecrets | b64enc }}"
  SERVER_ENCRYPTION_MASTER_KEYSET: "{{ .Values.sharedConfig.serverEncryptionMasterKeyset | b64enc }}"
  SERVER_ENCRYPTION_JWT_PUBLIC_KEYSET: "{{ .Values.sharedConfig.serverEncryptionJwtPublicKeyset | b64enc }}"
  SERVER_ENCRYPTION_JWT_PRIVATE_KEYSET: "{{ .Values.sharedConfig.serverEncryptionJwtPrivateKeyset | b64enc }}"
{{- range $key, $value := .Values.sharedConfig.env }}
  {{ $key }}: "{{ $value | b64enc }}"
{{- end }}
{{- end }}
